[tool.poetry]
name = "js-ng"
packages = [{ include = "jumpscale" }]

version = "0.1.0"
description = ""
authors = ["xmonader <xmonader@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.6"
pdoc3 = "^0.6.3"
lazy-import = "^0.2.2"
pytoml = "^0.1.21"
secretconf = "^0.1.2"
better-exceptions = "^0.2.2"
ipython = "^7.6"
pynacl = "^1.3"
npyscreen = "^4.10"
click = "^7.0"
pytest = "^5.0"
codecov = "^2.0"
tox = "^3.13"
pytest-cov = "^2.7"
hypothesis = "^4.28"
ptpython = "^2.0"
loguru = "^0.3.2"
fabric = "^2.4"
msgpack = "^0.6.1"
pylzma = "^0.5.0"
PyYAML = "^5.1"
arrow = "^0.14.5"
colorama = "^0.4.1"
gevent = "^1.4"
faker = "^2.0"
terminaltables = "^3.1"
pillow = "^6.1"
distro = "^1.4"
libtmux = "^0.8.2"
redis = "^3.3"
dnspython = "^1.16"
PyGithub = "^1.43"
cryptocompare = "^0.6.4"
sonic-client = "^0.0.5"
google-api-python-client = "^1.7"
sendgrid = "^6.0"
twilio = "^6.29"
certifi = "^2019.6"
minio = "^4.0"
py-trello = "^0.15.0"
dill = "^0.3.0"
watchdog = "^0.9.0"
GitPython = "^3.0"
pudb = "^2019.1"
pycountry = "^19.8"
docker = "^4.2.0"
jinja2 = "^2.11.1"

[tool.poetry.dev-dependencies]
ipdb = "^0.12.1"
black = {version = "^18.3-alpha.0", allows-prereleases = true}
flake8 = "^3.7"
parameterized = "^0.7.0"

[tool.poetry.scripts]
jsng = "jumpscale.entry_points.jsng:run"
jsctl = "jumpscale.entry_points.jsctl:cli"
jsync = "jumpscale.entry_points.jsync:cli"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

