# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: jsng-ci

on:
  push:
    branches: [ development ]
  pull_request:
    branches: [ development ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      # max-parallel: 9
      matrix:
        os: [ubuntu-18.04]
        python-version: [3.6, 3.7, 3.8]
        experimental: [false]
        include:
          - os: ubuntu-20.04
            python-version: 3.8
            experimental: true
            name: Experimental build - latest Ubuntu
          #- python-version: 3.9
          #  os: ubuntu-18.04
          #  experimental: true
          #  name: Experimental build - latest Python
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Gathering deps
        run: |
          sudo apt-get update
          sudo apt-get install -y git python3-setuptools tmux redis net-tools
          sudo $pythonLocation -m pip install --upgrade pip
          sudo $pythonLocation -m pip install poetry
      - name: Install
        run: |
          poetry install
      - name: Generate coverage report and run tests
        run: |
          sudo poetry run python3 -m pytest tests -sv --cov=jumpscale --cov-report=xml
      - name: Upload coverage to Codecov
        if: success()
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
